{% extends "TranslationBundle:WebUI:base.html.twig" %}

{% block body %}

    <div class="catalogue-list">
    {% for cataloge in catalogues %}
        <div class="catalouge">
            <h3>{{ cataloge.locale }}</h3>
            {% for domain,messages in cataloge.all %}
                <a href="{{ path("translation_show", {configName: configName, domain:domain, locale:cataloge.locale}) }}">
                    {{ domain }}
                </a>

                {{ (100*messages|length/maxDomainSize[domain])|round }} % |
            {% endfor %}
            <br>
            {{ (100*catalogueSize[cataloge.locale]/maxCatalogueSize)|round }} %
        </div>
    {% endfor %}
    </div>

{% endblock %}
