{% extends "TranslationBundle:WebUI:base.html.twig" %}
{% import _self as macro %}

{% block body %}
<div class="container">
    <div class="catalogue-list">
    {% for cataloge in catalogues %}
        <div class="catalouge">
            <h3>{{ cataloge.locale }}</h3>
            <table class="domain-table">
            {% for domain,messages in cataloge.all %}
                {% set pg = (100*messages|length/maxDomainSize[domain])|round %}
                <tr>
                    <td>
                        <a href="{{ path("translation_show", {configName: configName, domain:domain, locale:cataloge.locale}) }}">
                            {{ domain }}
                        </a>
                    </td>
                    <td class="progressbar-cell">
                        {{ macro.progress(pg, "") }}
                    </td>
                    <td>
                        {{ pg }} %
                    </td>
                </tr>
            {% endfor %}
            </table>
            {% set pg = (100*catalogueSize[cataloge.locale]/maxCatalogueSize)|round %}
            <div class="text-xs-center">Total progress for this language {{ pg }} %</div>
            {{ macro.progress(pg, "total-progressbar") }}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% macro progress(pg, class) %}
    {% if pg < 60 %}
        {% set type="danger" %}
    {% elseif pg < 80 %}
        {% set type="warning" %}
    {% else %}
        {% set type="success" %}
    {% endif %}
    <progress class="progress progress-striped progress-{{ type }} {{ class }}" value="{{ pg }}" max="100"></progress>
{% endmacro %}
