{% extends "TranslationBundle:WebUI:base.html.twig" %}

{% block body %}
    <nav class="navbar navbar-light bg-faded">
        <ul class="nav navbar-nav">
            <li class="nav-item"><span class="nav-text">Locales:</span></li>
            {% for locale in locales %}
                <li class="nav-item{% if currentLocale == locale %} active{% endif %}">
                    <a class="nav-link" href="{{ path('translation_show', {configName: configName, domain:currentDomain, locale:locale}) }}">
                        {{ locale }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <nav class="navbar navbar-light bg-faded">
        <ul class="nav navbar-nav">
            <li class="nav-item"><span class="nav-text">Domains:</span></li>
            {% for domain in domains %}
                <li class="nav-item{% if currentDomain == domain %} active{% endif %}">
                    <a class="nav-link" href="{{ path('translation_show', {configName: configName, domain:domain, locale:currentLocale}) }}">
                        {{ domain }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <br />
    </nav>

    <table class="table">
        <thead>
        <tr>
            <th class="key-column">Translation key</th>
            <th class="message-column">Message</th>
            <th class="additional-column">Additional info</th>
        </tr>
        </thead>
        <tbody>
    {% for idx, message in messages %}
        <tr class="message" id="{{ message.key }}">
            <td>
                <pre><a href="#{{ message.key }}">{{ message.key }}</a></pre>
                <ul>
                {% for location in message.sourceLocations %}
                    <li><a href="{{ location['full_path']|file_link(location['line']) }}">{{ location['path'] }}</a></li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <textarea
                    class="message-textarea"
                    data-key="{{ message.key }}"
                    onchange="editTranslation(this)"
                    tabindex="{{ idx + 1 }}"
                >{{ message.message }}</textarea>
                <div class="ajax-result"></div>
            </td>
            <td>
                {% for locale,trans in message.otherTranslations %}
                <b>{{ locale }}</b>: {{ trans }}<br>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        var editUrl="{{ path('translation_edit', {configName: configName, locale:currentLocale,domain:currentDomain}) }}";
    </script>
{% endblock %}
