<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ 'translated.title'|trans }}</title>
</head>
<body>
    <h1>{{ 'translated.heading'|transchoice(12) }}</h1>
    <p>{{ 'translated.paragraph0'|trans }}</p><p>{% trans %}translated.paragraph1{% endtrans %}</p><!-- two translation in same html line -->
    <p>
        {% transchoice 21 %}translated.paragraph2{% endtranschoice %}
        <a id="email" href="mailto:{{ 'localized.email'|trans }}">{{ 'localized.email'|trans }}</a><!-- translation inside attribute with additional content -->
    </p>
    <div id="attribute-div" data-value="{{ 'translated.attribute'|trans }}"></div> <!-- translation inside html attribute -->
</body>
</html>
